eom-part-2-n8n-customer-service/workflow.json
{
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "{some_instance_id}"
  },
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "04400fbc-1bf1-4d0f-9d7c-82d73dd4deaf",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        -2220,
        1358
      ]
    },
    {
      "parameters": {
        "content": "## Send reply email to customer",
        "height": 316.0628750741319,
        "width": 827.3071557661215,
        "color": 5
      },
      "id": "920a677a-c6ad-4602-964a-6dbe5567b04f",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1320,
        2100
      ]
    },
    {
      "parameters": {
        "jsCode": "const inputText = $input.first().json.arguments.message;\nconst formattedText = inputText.replace(/\\n/g, '<br>');\n\nreturn [{ json: { text: formattedText } }];\n"
      },
      "id": "90b2cdc8-89b7-4ba7-b738-6e81b0d39587",
      "name": "Response Body",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1420,
        2200
      ]
    },
    {
      "parameters": {
        "html": "<!DOCTYPE html>\n\n<html>\n<head>\n  <meta charset=\"UTF-8\" />\n  <title>Customer Support</title>\n</head>\n<body>\n  <div class=\"container\">\n    <p>{{ $json.text }}</p>\n  </div>\n</body>\n</html>\n\n<style>\n.container {\n  background-color: #ffffff;\n  text-align: left;\n  padding: 16px;\n  border-radius: 8px;\n}\n\nh1 {\n  color: #ff6d5a;\n  font-size: 24px;\n  font-weight: bold;\n  padding: 8px;\n}\n\nh2 {\n  color: #909399;\n  font-size: 18px;\n  font-weight: bold;\n  padding: 8px;\n}\n</style>"
      },
      "id": "8ca35eca-69e9-4815-b38a-5d751f80bcc6",
      "name": "HTML",
      "type": "n8n-nodes-base.html",
      "typeVersion": 1.2,
      "position": [
        1600,
        2200
      ]
    },
    {
      "parameters": {
        "operation": "reply",
        "messageId": {
          "__rl": true,
          "value": "={{ $('[MS] Get Messages').first().json.id }}",
          "mode": "id"
        },
        "message": "={{ $json.html }}",
        "options": {}
      },
      "id": "4af26346-5965-4809-a6e7-d0cbac5172c9",
      "name": "Microsoft Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1775,
        2200
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "BKECBNxQv2VHr3oq",
          "name": "Outlook Account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "model",
              "value": "=gpt-4-turbo"
            },
            {
              "name": "max_tokens",
              "value": "={{ 300 }}"
            },
            {
              "name": "response_format",
              "value": "={{ { \"type\": \"json_object\"} }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "7ea6f608-49cc-46bd-8658-de7d1c5f078e",
      "name": "[OpenAI] Vision",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2060,
        1220
      ],
      "credentials": {
        "openAiApi": {
          "id": "6z8ebHXpAz6xH8ku",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Assuming 'binaryData' contains the binary data of the image\n// Convert binary data to a base64 string\n// const image = $input.first().json.photo_link;\nconst image = $input.first().json.data;\n\nlet contentText = `Act as a product defect detector for an e-commerce company that sells a variety of books. The user has sent you a photo of a defective product.\n\nRespond in JSON, refering to the following example:\n\n{\n  'isDefective': true\n  'reason': 'The book shows visible damage on the cover, it seems to be torn.'\n}\n`;\n\n// Constructing system message\nlet systemMsg = {\n  \"role\": \"system\",\n  \"content\": contentText\n};\n\nlet userMessage = $('Conversation').first().json.messages[0];\n\n// Constructing user message with the base64 encoded image\nlet visionMessage = {\n  \"role\": \"user\",\n  \"content\": [\n    {\n      \"type\": \"text\",\n      \"text\": \"Can you identify the defect as described earlier?\"\n    },\n    {\n      \"type\": \"image_url\",\n      \"image_url\": {\n        \"url\": `data:image/jpeg;base64,${image}`\n      }\n    }\n  ]\n};\n\n// Updating the return statement to include both messages\nconst messages = [];\nmessages.push(systemMsg);\nmessages.push(userMessage);\nmessages.push(visionMessage);\nreturn {messages};\n"
      },
      "id": "0588e991-7a99-4265-8cd0-340c49b98928",
      "name": "System Message (Vision)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1840,
        1220
      ]
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "options": {
          "encoding": "base64"
        }
      },
      "id": "813118c0-4d17-446b-9d87-a651220ee467",
      "name": "Extract from File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        1620,
        1220
      ]
    },
    {
      "parameters": {
        "content": "## Review photo (vision)",
        "height": 351.8163438480556,
        "width": 1119.277563773595,
        "color": 5
      },
      "id": "9c31c52f-9872-41e8-b619-db5036e3b792",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        1100
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const toolCallsRaw = $input.first().json.choices[0].message.content;\n\nconst toolCallsCleaned = toolCallsRaw.replace(/(\\r\\n|\\n|\\r)/gm, \"\").replace(/\\s+/g, \" \");\nconsole.log(\"toolCallsCleaned\",toolCallsCleaned);\nconst parsedArguments = JSON.parse(toolCallsCleaned);\nconsole.log(\"parsedArguments\",parsedArguments);\n\nconst isDefective= parsedArguments.isDefective;\nconst reason = parsedArguments.reason;\n\nreturn [\n  {\n    json: {\n      isDefective,\n      reason,\n    }\n  }\n];\n"
      },
      "id": "952bc3c3-b86b-41d3-b3b1-12a3fac625fa",
      "name": "Parse JSON arguments3",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2280,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "console.log(\"Starting the script...\");\n\n// Initialize empty arrays for messages from each stream\nlet stream1Messages = [];\nlet stream2Messages = [];\n\n// Try to get messages from stream1 if they exist\nconst stream1Output = $('Strip HTML').first().json;\nconsole.log(\"Stream1 Output: \", stream1Output);\n\nif (stream1Output && stream1Output.hasOwnProperty('messages')) {\n    console.log(\"Found messages in Stream1\");\n    stream1Messages = stream1Output.messages;\n} else {\n    console.log(\"No messages found in Stream1 or Stream1 is not defined\");\n}\n\ntry {\n    // Try to get messages from stream2 if they exist\n    const stream2Output = $('Function Response').first().json;\n    console.log(\"Stream2 Output: \", stream2Output);\n\n    if (stream2Output && stream2Output.hasOwnProperty('messages')) {\n        console.log(\"Found messages in Stream2\");\n        stream2Messages = stream2Output.messages;\n    } else {\n        console.log(\"No messages found in Stream2 or Stream2 is not defined\");\n    }\n} catch (error) {\n    // Handle error (e.g., IF node not executed)\n    console.log(\"Error: IF node has not been executed or no data is available.\");\n}\n\n// Combine the messages only if stream2Messages exists and is not empty\nif (stream2Messages.length > 0) {\n    console.log(\"Combining messages from Stream1 and Stream2\");\n    stream1Messages = [...stream1Messages, ...stream2Messages];\n} else {\n    console.log(\"No messages to combine from Stream2, using Stream1 messages only\");\n}\n\nconsole.log(\"Final combined messages: \", stream1Messages);\n\nreturn { json: { messages: stream1Messages } };\n"
      },
      "id": "9ffaa0cf-bbe4-4d2c-9af6-83a5c3ce434c",
      "name": "Merge Function Resp",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -1300,
        1360
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.toolCalls.map(toolCall => {\n  return {\n    json: toolCall,\n  }\n})"
      },
      "id": "dcb3ecd3-4100-469a-a3dd-ac3afbf2839c",
      "name": "Itemize",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        1220
      ]
    },
    {
      "parameters": {
        "content": "## Customer Service Rep Agent",
        "height": 298.45126420731236,
        "width": 816.7012663065507
      },
      "id": "7ef308d2-93db-4160-94d3-319e75e459c8",
      "name": "Sticky Note25",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -860,
        1260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "605ff3ce-3e49-4ed7-89ef-271b3e60701d",
              "name": "toolCalls",
              "value": "={{ $('[OpenAI] Tools').item.json.choices[0].message.tool_calls }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "id": "ee797c46-3ac6-4b36-91a5-dbe925f376d6",
      "name": "Tools Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        340,
        1220
      ]
    },
    {
      "parameters": {
        "jsCode": "const tools = [\n  {\n  \"type\": \"function\",\n  \"function\": {\n        \"name\": \"verify_order\",\n        \"description\": \"Verifies that the order in the system matches the details given by the customer.\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"order_id\": {\n                    \"type\": \"string\",\n                    \"description\": \"The customer's order ID.\"\n                },\n            },\n            \"required\": [\n                \"order_id\"\n            ]\n        }\n    },\n  },\n  {\n    \"type\": \"function\",\n    \"function\": {\n          \"name\": \"review_photo\",\n          \"description\": \"Reviews the customer's photo for defects.\",\n          \"parameters\": {\n              \"type\": \"object\",\n              \"properties\": {\n                  \"photo_link\": {\n                      \"type\": \"string\",\n                      \"description\": \"URL of the customer's uploaded photo.\"\n                  },\n              },\n              \"required\": [\n                  \"photo_link\"\n              ]\n          }\n    },\n  },\n  {\n    \"type\": \"function\",\n    \"function\": {\n          \"name\": \"verify_warranty\",\n          \"description\": \"Checks to see if the product is still under warranty.\",\n          \"parameters\": {\n              \"type\": \"object\",\n              \"properties\": {\n                  \"order_id\": {\n                      \"type\": \"string\",\n                      \"description\": \"The customer's order ID.\"\n                  },\n              },\n              \"required\": [\n                  \"order_id\"\n              ]\n          }\n    },\n  },\n  {\n    \"type\": \"function\",\n    \"function\": {\n        \"name\": \"email_customer\",\n        \"description\": \"Sends a reply email to the customer.\",\n        \"parameters\": {\n            \"type\": \"object\",\n            \"properties\": {\n                \"message\": {\n                    \"type\": \"string\",\n                    \"description\": \"Message to the customer.\"\n                },\n            },\n            \"required\": [\n                \"message\"\n            ]\n        }\n    }\n  }\n];\n\nreturn {tools}; "
      },
      "id": "2bc05411-d8c8-4a0b-9387-e300e235840d",
      "name": "Tools",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -800,
        1360
      ]
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "messages",
              "type": "arrayValue",
              "arrayValue": "={{ $input.item.json.messages }}"
            }
          ]
        },
        "include": "none",
        "options": {}
      },
      "id": "be28a499-8cc7-4efd-8d96-9e07693e364b",
      "name": "Conversation",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        -1100,
        1362
      ],
      "executeOnce": true
    },
    {
      "parameters": {
        "url": "={{ $json.arguments.photo_link }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "e5617e63-c2b2-403d-8ba5-290077acb38e",
      "name": "Download image",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1420,
        1220
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "f9756d4c-430d-4e7f-9339-21e3575b0960",
              "leftValue": "={{ $('[OpenAI] Tools').item.json.choices[0].message.tool_calls }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            },
            {
              "id": "4c46ba27-422a-4c91-b1d7-49d12d52afd7",
              "leftValue": "={{ $('[OpenAI] Tools').item.json.choices[0].message.tool_calls }}",
              "rightValue": "=",
              "operator": {
                "type": "array",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "2b3324e5-4ed1-4742-bb46-d3986fda88eb",
      "name": "If wants to call Tools",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        60,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "return {response: 'success'}"
      },
      "id": "9eecd5cc-89d9-4f3b-86de-93cf2dd0cc58",
      "name": "Return success",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1960,
        2200
      ]
    },
    {
      "parameters": {},
      "id": "21bc64b2-d93a-42c0-9708-eabc98416463",
      "name": "No Operation, do nothing6",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        340,
        1500
      ]
    },
    {
      "parameters": {},
      "id": "047d7098-b5a7-4794-9f77-32afb55f7cac",
      "name": "Merge1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3760,
        2060
      ]
    },
    {
      "parameters": {
        "content": "## Call Tools",
        "height": 1616.4044572235323,
        "width": 3542.1916229300136
      },
      "id": "59b10b8f-bc01-459c-b66c-4b9cf3e3726c",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        760,
        1000
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "jsCode": "const messages = [];\n\n// Push original message\nconst message = $('[OpenAI] Tools').item.json.choices[0].message;\nmessages.push({role: message.role, content: message.content, tool_calls: message.tool_calls});\n\n// Push tool responses\nconst inputs = $input.all();\nconst toolCalls = $('Tools Set').item.json.toolCalls;\n\nif (inputs.length !== toolCalls.length) {\n    return {error: \"Inputs and Tool Calls length mismatch\"};\n}\n\ninputs.forEach((input, index) => {\n    const tool_call_id = toolCalls[index].id;\n    const role = 'tool'; // Assuming this is constant\n    const name = toolCalls[index].function.name;\n\n    const content = JSON.stringify(input.json);\n    messages.push({tool_call_id, role, name, content});\n});\n\nreturn {messages: messages};\n"
      },
      "id": "88d9b7d9-6a39-4554-b73c-54c6c33628af",
      "name": "Function Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        4080,
        2340
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = {\n    messages: $('Conversation').first().json.messages.slice()\n}\n\nlet content = `Act as a Customer Support Rep. The customer has sent you their order ID, \nshipping address, and a photo of a defective product they recently purchased. \nYour goal is to walk through this entire process with the customer.\n\nSteps to accomplish your task:\n1. Verify that the photo shows defects (function: review_photo)\n2. Verify that the product is still under warranty. Products are under warranty if purchased within the past 365 days (function: verify_warranty)\n3. Decide if a replacement should be shipped to the customer - replacements are offered if a valid order ID is given, it's covered under warranty, and the photo review shows damage the product\n4. Email your decision to the customer (function: email_customer)\n5. Terminate\n\nRules of engagement:\n- Stick to the procedure and don't invent your own steps\n- Stick to your role, and politely decline off-topic questions\n- Do not output messages, only call functions`;\n\nlet systemMsg = {\n  \"role\": \"system\",\n  \"content\": `${content}`\n};\n\ninput.messages.splice(0, 0, systemMsg); // second from top\n\nreturn input; // returns the updated array"
      },
      "id": "65aa9570-f0c5-4c71-ba0e-422a933c22e0",
      "name": "System Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -600,
        1360
      ]
    },
    {
      "parameters": {
        "jsCode": "const messages = [];\nconst response = $input.first().json.choices[0].message;\n\nmessages.push(response);\nreturn {messages: messages};"
      },
      "id": "e1aac1b3-fced-4f0e-9c9d-b1c9d42d89c5",
      "name": "Function Resp (w/ History)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        -180,
        1360
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "function assembleReturnObject(arguments) {\n  // Step 1: Clean and parse input\n  const argumentsCleaned = arguments.replace(/(\\r\\n|\\n|\\r)/gm, \"\").replace(/\\s+/g, \" \");\n  const parsedArguments = JSON.parse(argumentsCleaned);\n\n  // Step 2: Dynamically create the return object based on keys in parsedArguments\n  const returnObject = Object.keys(parsedArguments).reduce((acc, key) => {\n    // Use the key to dynamically set the value in the accumulated object\n    acc[key] = parsedArguments[key];\n    return acc;\n  }, {});\n\n  // Step 3: Assemble into the required return format\n  return returnObject;\n}\n\n// Example usage:\nconst name = $('Itemize').item.json.function.name;\nconst arguments = $('Itemize').item.json.function.arguments;\nconst result = {\n  name: name,\n  arguments: assembleReturnObject(arguments)\n};\nreturn result;"
      },
      "id": "20b27e1f-8a9e-45d8-8ff5-bdd5088c623e",
      "name": "Parse JSON arguments",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        820,
        1220
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.baseUrl + $json.endpoint }}",
        "options": {},
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "x-amz-access-token",
              "value": "={{ $('Configure Set').first().json.accessToken }}"
            }
          ]
        }
      },
      "name": "Get Order",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        1620,
        1700
      ],
      "id": "5a8f9dca-c921-4cc6-9809-ff0261e2e29d",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "088ae7c6-b527-4ed3-b3ea-0a4a18a4c203",
              "name": "purchaseDate",
              "value": "={{ $json.payload.PurchaseDate }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6fd12822-b99b-4692-8854-d2fabda4fba3",
      "name": "Order Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1840,
        1580
      ]
    },
    {
      "parameters": {
        "jsCode": "function daysBetween(dateString) {\n  const specifiedDate = new Date(dateString);\n  const today = new Date();\n\n  // Set the time of both dates to 00:00:00 to calculate the difference in days accurately\n  specifiedDate.setHours(0, 0, 0, 0);\n  today.setHours(0, 0, 0, 0);\n\n  const millisecondsPerDay = 24 * 60 * 60 * 1000; // Number of milliseconds in a day\n  const differenceInMilliseconds = today - specifiedDate;\n\n  const differenceInDays = differenceInMilliseconds / millisecondsPerDay;\n\n  return Math.floor(differenceInDays); // Returns the integer part of the difference\n}\n\n// Example usage:\nconst days = daysBetween($input.first().json.purchaseDate);\nconsole.log(days);\nreturn [{purcased_days_ago: days}];\n"
      },
      "id": "85ffe8ef-3751-43fa-ae6e-7c3d87243982",
      "name": "Calculate Order Age",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2060,
        1620
      ]
    },
    {
      "parameters": {
        "content": "## Verify warranty",
        "height": 483.24278127339744,
        "width": 888.9768815487378,
        "color": 5
      },
      "id": "1837f801-b1d8-4ecf-b8e6-9aef32bf417b",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        1520
      ],
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "f3a1345c-007d-4251-8a16-706fa79f7882",
      "name": "No Operation, do nothing2",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1840,
        1820
      ]
    },
    {
      "parameters": {},
      "id": "f09393b2-bb2b-4789-aeb1-4506fff1c315",
      "name": "Merge2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        3900,
        2220
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "d64dda52-4e6a-4b3e-ad46-a8b221963055",
              "name": "baseUrl",
              "value": "={{ $('Configure Set').first().json.baseUrl }}",
              "type": "string"
            },
            {
              "id": "bc779325-5a2b-45ce-b7df-b957e5a8aab6",
              "name": "endpoint",
              "value": "={{ `/orders/v0/orders/TEST_CASE_200` }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "33425373-a4f1-4050-b3e7-0497c13ac85d",
      "name": "REST Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        1420,
        1700
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "4cfa7e62-17b1-41da-ae35-4bdaf478672a",
              "name": "accessToken",
              "value": "{some_access_token}",
              "type": "string"
            },
            {
              "id": "985fe47d-c6d9-4b07-afbc-ffaaa95ee134",
              "name": "baseUrl",
              "value": "{some_base_url}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "509cd52e-a9e4-4bea-aebf-ec95ffa4f7fc",
      "name": "Configure Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        -2000,
        1358
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "returnAll": true,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filters": {
              "custom": "isRead eq false and (categories/any(c:c eq 'robot'))",
              "foldersToInclude": [
                "{some_folder_id}"
              ]
            }
          }
        },
        "options": {}
      },
      "id": "17ff1920-cb6c-4931-9d15-26df82e03f16",
      "name": "[MS] Get Messages",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -1780,
        1360
      ],
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "BKECBNxQv2VHr3oq",
          "name": "Outlook Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Regular expression to match HTML tags\nvar allhtm = /(<([^>]+)>)/ig;\n// Regular expression specifically to match <br> and <br/> tags\nvar brTag = /<br\\s*\\/?>/ig;\n\n// Loop over input items and replace <br> tags with newlines, then remove other HTML tags\nfor (const item of $input.all()) {\n  if (item.json && item.json.body && item.json.body.content) {\n    // First replace <br> tags with newlines\n    var contentWithNewLines = item.json.body.content.replace(brTag, '\\n');\n    // Then remove all other HTML tags\n    item.json.messages = [{role: \"user\", content: contentWithNewLines.replace(allhtm, '').trim()}];\n  } else {\n    // Handle cases where the expected structure is missing\n    console.error('Invalid item structure:', item);\n  }\n}\n\nreturn $input.all();\n"
      },
      "id": "aeac67d3-e49d-4451-bc52-765f0b365d42",
      "name": "Strip HTML",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1540,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "messages",
              "value": "={{ $input.first().json.messages }}"
            },
            {
              "name": "model",
              "value": "=gpt-4-turbo"
            },
            {
              "name": "temperature",
              "value": "={{ 0 }}"
            },
            {
              "name": "frequency_penalty",
              "value": "={{ 1 }}"
            },
            {
              "name": "max_tokens",
              "value": "={{ 300 }}"
            },
            {
              "name": "tools",
              "value": "={{ $('Tools').item.json.tools }}"
            },
            {
              "name": "presence_penalty",
              "value": "={{ 0 }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "8d7af876-a0d1-48c2-b010-1f4eeac57baf",
      "name": "[OpenAI] Tools",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        -380,
        1360
      ],
      "credentials": {
        "openAiApi": {
          "id": "6z8ebHXpAz6xH8ku",
          "name": "OpenAi"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "c9bad1be-9060-4e08-9f1b-acfed7128d2c",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "review_photo",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "photo"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "a972fe9f-09bd-4106-b3fb-e6ec345c2e0f",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "verify_warranty",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "warranty"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "b3727258-09b7-4ec0-9e26-544168c319f3",
                    "leftValue": "={{ $json.name }}",
                    "rightValue": "email_customer",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "email"
            }
          ]
        },
        "options": {}
      },
      "id": "a80bed18-0c23-400e-b572-dd67fdbf47e4",
      "name": "Route Function",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1020,
        1220
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Configure Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Response Body": {
      "main": [
        [
          {
            "node": "HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML": {
      "main": [
        [
          {
            "node": "Microsoft Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Microsoft Outlook": {
      "main": [
        [
          {
            "node": "Return success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OpenAI] Vision": {
      "main": [
        [
          {
            "node": "Parse JSON arguments3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Message (Vision)": {
      "main": [
        [
          {
            "node": "[OpenAI] Vision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "System Message (Vision)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON arguments3": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Function Resp": {
      "main": [
        [
          {
            "node": "Conversation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Itemize": {
      "main": [
        [
          {
            "node": "Parse JSON arguments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tools Set": {
      "main": [
        [
          {
            "node": "Itemize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tools": {
      "main": [
        [
          {
            "node": "System Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Conversation": {
      "main": [
        [
          {
            "node": "Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download image": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If wants to call Tools": {
      "main": [
        [
          {
            "node": "Tools Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return success": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Merge2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Response": {
      "main": [
        [
          {
            "node": "Merge Function Resp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System Message": {
      "main": [
        [
          {
            "node": "[OpenAI] Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function Resp (w/ History)": {
      "main": [
        [
          {
            "node": "If wants to call Tools",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON arguments": {
      "main": [
        [
          {
            "node": "Route Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order": {
      "main": [
        [
          {
            "node": "Order Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Order Set": {
      "main": [
        [
          {
            "node": "Calculate Order Age",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Order Age": {
      "main": [
        [
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge2": {
      "main": [
        [
          {
            "node": "Function Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "REST Set": {
      "main": [
        [
          {
            "node": "Get Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configure Set": {
      "main": [
        [
          {
            "node": "[MS] Get Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[MS] Get Messages": {
      "main": [
        [
          {
            "node": "Strip HTML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Strip HTML": {
      "main": [
        [
          {
            "node": "Merge Function Resp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "[OpenAI] Tools": {
      "main": [
        [
          {
            "node": "Function Resp (w/ History)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Function": {
      "main": [
        [
          {
            "node": "Download image",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "REST Set",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Response Body",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}